<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>アニメ一覧</title>
</head>
<body>
  <h2>アニメ一覧</h2>
  <table border="1">
    <tr>
        <th>ID</th>
        <th>タイトル</th>
    </tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><a href="/anime/<%= number %>"><%= row.title %></a></td>
            <td><a href="/anime/delete/<%= number %>">削除</a></td>
        </tr>
        <% number += 1 %>
      <% } %>
  </table>
  <br>
  <a href="/anime/create">新規追加</a>
</body>
</html>