<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>授業一覧</title>
</head>
<body>
  <h2>授業リスト</h2>
  <table border="1">
    <tr>
        <th>ID</th>
        <th>科目名</th>
        <th>教員名</th>
    </tr>
    <% let number = 0 %>
    <% for( let row of data ) { %>
      <tr>
        <td><%= row.id %></td>
        <td><a href="/subject/<%= number %>"><%= row.title %></a></td>
        <td><%= row.teacher %></td>
      </tr>
      <% number += 1 %>
    <% } %>
  </table>
  <br>
  <a href="/subject/create">新規追加</a>
</body>
</html>